@charset 'UTF-8';

h1 {
	margin: 0px;
	color: #568A8C;
	padding-top: 15px;
	padding-left: 10px;
}

h2 {
	color: #F43E0E;
}

h3 {
	color: #568A8C;
}

h4, select {
	display: inline-block;
	margin: 5px;
	color: #568A8C;
}

input {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px;
	padding: 0px;
	color: #F56F42;
}

body {
	margin: 0px;
	height: 700px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

footer {
	margin: 0px;
	height: 40px;
	background-color: #F43E0E;
	text-align: center;
	padding-top: 20px;
	color: #EFE5D5;
}

/* ------------- Barra de navegação no topo das páginas ------------- */

nav {
	border: none;
	background-color: #F56F42;
	height: 60px;
	align-content: center;
	color: #568A8C;
	margin:0px;
	padding:0px;
}

nav h1 {
	margin: 15px;
	padding: 0px;
	margin-left: 20px;
	display: inline-block;
	float:left;
}

/* Botões/links de navegação */
nav .navButton{
	background-color: #F06040;
	height:60px;
	display:inline-block;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin:0px;
	min-width:80px;
	float:left;
	text-align:center;
	line-height:60px;
	color: inherit;
	text-decoration: none;
	display: inline;
}

/* Muda a cor do botão para a mesma cor do background quando o mouse está em cima */
nav .navButton:hover
{
	background-color:inherit;
}

nav form {
	display: inline;
	margin-left: 22%;
}

/* Para o botão "Entrar" no index.html */
nav form a {
	text-decoration: none;
}

nav form a button {
	margin-top: 20px;
	margin-left: 10px;
	display: inline;
}


/* Saudação na nav bar da area_usuario.html */

nav p
{
	margin: 0px;
	padding: 0px;
	float: right;
	color: #568A8C;
	height: inherit;
	line-height: 60px;
	text-align: center;
}

/* ------------- Elementos exclusivos do index.html ------------- */

#Carrousel img {
	background-color: #EFE5D5;
	margin: 0px;
	height: 30%;
	width: 100%
}

#About {
	background-color: #69DDC3;
	padding-bottom: 5%;
	height: 650px;
	text-align: center;
}

#About h1 {
	padding-left: 30px;
	color: #F43E0E;
}

#About p {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 18px;
}

#Services {
	background-color: #F56F42;
	height: 650px;
	text-align: center;
}

#Services p {
	color: #EFE5D5;
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
	margin-bottom: 30px;

}

#Contact {
 	background-color: #EFE5D5;
 	height: 400px;
}

#Contact h1 {
margin-left: 2%;	
}

#Contact p {
	color: #568A8C;
	font-size: 18px;
	text-align:left;
	margin-left: 5%;
	margin-top: 30px;
}



/* ------------- Tabelas e seus elementos ------------- */

table {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;		/* antes só estava sendo usado na area_usuario.html, ver o que é melhor */
}

table, td, th {
	border: 2px solid #69DDC3;
}

td, th {
	padding: 5px;
	color: #F56F42;
}


/* ------------- Divs com conteúdo principal ------------- */

/* Classe content, seria a div onde se põe os conteúdos principais do site? */

.content {
	background-color: #EFE5D5;
	height: 600px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom:solid;
	border-width:1px;
	border-color: gray;
	display: inline-block;
}

.content p
{
	margin-left: 10px;
	margin-bottom: 10px;
	color: black;
}

.content h1 {
	margin-left: 20px;			/* essa margem nos <a> pode estar tendo efeitos inesperados (na area_usuario.html por exemplo) */
}

/* Melhorar estilo dos links? */
.content a:link, .content a:visited {
	text-decoration: none;
	color: blue;
}

.content img {
	margin: 15px;
}

.content input {
 margin-left: 5%;
}
.content button {
	margin: 20px;
	margin-left: 5%;
}

/* Register contém formulário de cadastro. É usada em cadastro_pet.html, cadastro_usuario.html, cadastro_produto.html.
Obs: o estilo do formulário destas páginas está ligeiramente diferente. */

.Register {
	background-color: #EFE5D5;
	height: 90%;
	padding: 30px;
}

.Register h1 {
	padding: 0;
	margin-bottom: 15px;
}

.Register p {
	text-align: left;
}

.Register form {
	color: #F56F42;
}

.Register form input {
	margin-top: 3px;
	margin-bottom: 15px;
}

.Register form input[type=radio] {
	margin-right: 5px;
}

/* ------------- Classes exclusivas de loja.html. Unificar com outras? ------------- */

.ProdutosVenda {
	background-color: #EFE5D5;
	height: 90%;
	padding: 30px;
}

.Filtros {
	float: left;
	background-color: #EFE5D5;
	width: auto;
}

.Produtos {
	background-color: #EFE5D5;
	margin-left: 30%;
	width: 60%;
}

.Produtos table {
	border: 2px #EFE5D5;
}

.Produtos td, th {
	border: 2px #EFE5D5;
	text-align: center;
}

.Produtos table tr td img {
	width:100px;
	height:100px;
}

/* ------------- Descrições de Pets (area_usuario.html) ------------- */

.petdesc {
	border: solid;
	border-width: 2px;
	border-color: gray;
	height: auto;
	width: 204px;
	display: inline;
	float: left;
	text-align: center;
	background-color: #D2D6DD;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

.petdesc a {
	margin: 0px;
}

.petdesc img {
	margin: 0px;
	height:200px;
	width:200px;
	padding: 2px;
	float: left;
}

.petdesc p {
	padding: 0px;
	margin: 0px;
}

/* ------------- Profile Pic na area_usuario.html e detalhes_usuario.html ------------- */

#profilepicdiv {
	float: left;
	text-align: center;
	margin-right: 50px;
	display: inline;
}

.profilepic {
	height:200px;
	width:200px;
	border-style: solid;
	border-color: #568A8C;
	padding: 2px;
	float: left;
}
