@charset 'UTF-8';

h1 {
  margin: 0px;
  color: #568A8C;
  padding-top: 15px;
  padding-left: 10px;
}

p {
  margin: 0px;
  color: #F56F42;
  padding-top: 2%;
  text-align: center;
}

nav {
  border: none;
  padding: 0px;
  margin-top: 0px;
  background-color: #F56F42;
  height: 60px;
	display: inline;
}

body {
  margin: 0px;
  height: 1080px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

footer {
  margin: 0px;
  height: 40px;
  background-color: #F43E0E;
  text-align: center;
  padding-top: 20px;
  color: #EFE5D5;
}

#Carrousel {
  background-color: #EFE5D5;
  margin: 0px;
  height: 30%;
}

#About {
  background-color: #69DDC3;
  color: #F56F42;
	padding-bottom: 5%;
  height: auto;
}

#About h1 {
	padding-left: 30px;
	color: #F43E0E;
}

#Services {
  background-color: #568A8C;
  height: 30%;
}

#Contact {
  background-color: #EFE5D5;
  height: 30%;
}
