nav p
{
	margin: 0px;
	padding: 0px;
	float: right;
	color: #568A8C;
	height: inherit;
	line-height: 60px;
	text-align: center;
}

table{
	border-collapse: collapse;
}

a{
	text-decoration: underline;
	color: #62AAAD;
	display: inline;
}

th, td{
	border: solid;
	border-width:1px;
	background-color:#EAE4DA;
}

img {
	display: inline;
}

#profilepicdiv {
	float: left;
	text-align: center;
	margin-right: 50px;
	display: inline;
}

.sectiontitle {
	margin-bottom: 20px;
	margin-left: 0px;
	padding: 0px;
}

.profilepic {
	height:200px;
	width:200px;
	border-style: solid;
	border-color: #568A8C;
	padding: 2px;
	float: left;
}

.petdesc {
	border: solid;
	border-width: 2px;
	border-color: gray;
	height: 260px;
	width: auto;
	display: inline;
	float: left;
	text-align: center;
	background-color: #D2D6DD;
	margin-right: 5px;
}

.petdesc img {
	height:200px;
	width:200px;
	padding: 2px;
	float: left;
}

.petdesc p {
	padding: 0px;
	margin: 0px;
}
