.Register {
	background-color: #EFE5D5;
	height: auto;
	padding: 30px;
}

.Register h1 {
	padding: 0;
	margin-bottom: 15px;
}

.Register p {
	text-align: left;
}

.Register form {
	color: #568A8C;
}

.Register form input
{
	margin-bottom: 10px;
}
